<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="DATEFORMAT">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <Property name="PATTERN">%date{${DATEFORMAT}} %-5level %pid - [%thread] %logger : %message%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <RollingFile name="File" fileName="log/ilohas.log" filePattern="log/ilohas.log.%i">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="9"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File" level="debug"/>
        </Logger>
        <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File" level="debug"/>
        </Logger>
        <Logger name="com.eighthours" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
